# Node.js
*/node_modules/
/node_modules/
*/npm-debug.log
package-lock.json
*.env

# React build output
*/build/
*/dist/
/*.tgz

# IDEs and Editors
*/.idea/
*/.vscode/
/*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Log files
*.log

# Temporary files
*.swp
*.swo

# Test coverage
/coverage/
